/* header */
.header{
    width: 100%;
    height: 0.88rem;
    float: left;
    background: #fff;
    position: fixed;
    z-index: 9;
}
body{
    background:#FBFEFF;
}
.header_w{
    width: 7.1rem;
    height: 100%;
    text-align: center;
    line-height: 0.88rem;
    margin: 0 auto;
    font-size: 0.36rem;
    color: #4ebbfe;
}
.header_w a .iconfont{
    font-size: 0.4rem;
    float: left;
    color: #4ebbfe;
    display: block;
}
/* 搜索框 */
.select{
    width: 100%;
    height: 0.6rem;
    float: left;
    margin-top: 0.88rem;
}
.select_w{
    width: 7.1rem;
    height: 100%;
    margin: 0 auto;
    line-height: 0.6rem;
}
.select_w .put{
    width: 7.1rem;
    height: 0.6rem;
    float: right;
    position: relative;
}
.select_w .put input{
    width: 7.1rem;
    height: 0.6rem;
    float: left;
    border-radius: 0.3rem;
    background: #f2faff;
    border: #e8f6ff;
    outline: none;
    padding-left: 0.95rem;
    box-sizing: border-box;
    float: left;
}
.select_w .put .iconfont{
    position: absolute;
    top: 0;
    left: 0.4rem;
    font-size: 0.32rem;
    color: #99d7b4;
}
/* content */
.posi{
    width: 100%;
    height: 1.35rem;
    float: left;
    margin-top: 0.2rem;
}
.posi_w{
    width: 7.1rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.35rem;
    border-bottom: 0.01rem solid #ecf8ff;
}
.posi_w .yuan{
    width: 0.08rem;
    height: 0.08rem;
    background: #4ebbfe;
    border-radius: 50%;
    margin: 0.65rem 0.2rem 0 0;
    float: left;
}
.posi_w .pre{
    font-size: 0.24rem;
    color: #979899;
    float: left;
}
.posi_w .tai{
    width: 0.96rem;
    height: 0.48rem;
    line-height: 0.48rem;
    margin-top: 0.5rem;
    float: left;
    color: #4ebbfe;
    font-size: 0.24rem;
    background: #e7f6ff;
    border-radius: 0.24rem;
    margin-left: 0.2rem;
}
.city{
    width: 100%;
    height: 1.3rem;
    float: left;
}
.city_w{
    width: 1.6rem;
    height: 100%;
    float: left;
    margin-left: 0.2rem;
}
.city_w .aa{
    width: 0.44rem;
    height: 0.44rem;
    border-radius: 50%;
    background: #4ebbfe;
    text-align: center;
    float: left;
    color: #fff;
    line-height: 0.44rem;
    font-size: 0.2rem;
    columns: 0.2rem;
    margin-top: 0.2rem;
}
.tt_w{
    width: 6.5rem;
    height: 0.81rem;
    margin-top: 0.3rem;
    float: left;
}

 .tt_w .yuan{
    width: 0.08rem;
    height: 0.08rem;
    background: #99d7b4 ;
    border-radius: 50%;
    margin: 0.35rem 0.2rem 0 0;
    float: left;
}
.tt_w .sp{
    width: 1.5rem;
    font-size: 0.28rem;
    float: left;
    line-height: 0.81rem;
    color: #646666;
}
.mark{
    margin-top: 0.6rem;
}
.widt{
    width: 6.5rem;
    border-bottom: 0.01rem solid #ecf8ff;
    
}

/* side */
body{
    position: relative;
}
.left{
    width: 0.12rem;
    height: 9.5rem;
    position: absolute;
    right: 0.24rem;
    top: 3.4rem;
}
.left span{
    font-size: 0.14rem;
    margin-top: 0.2rem;
    float: left;
}

