body{
    background: #FBFEFF;
    font-weight: bold;
}

.top{
    height: 1.32rem;
    width: 7.5rem;
    background: #fbfeff;
    font-weight: bold;
    text-align: center;
    position:relative;
    font-size: 0.38rem;
    line-height: 1.32rem;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    position: relative;
}
.top i{
   color:  #36a8fe;
   width: 0.25rem;
   height: 0.42rem;
   position: absolute;
   left: 0.24rem;
   bottom: 0.9rem;
}

.top p{
    color: #4ebbfe;
}
img{
    display: block;
    width: 4rem;
    height: 3.88rem;
    margin: 3.17rem auto 0.5rem;
}
.aa{
    font-size: 0.26rem;
    color: #000000;
    opacity: 0.4;
    line-height:0.35rem;
  text-align: center;
}
 .pp{
    display: block;
    width: 1.96rem;
    height: 0.6rem;
  background:linear-gradient(#37e06f,#31d69a);
    color: #ffffff;
    font-size: 0.2rem;
    border-radius: 0.3rem;
  margin: auto;
    line-height: 0.6rem;
    text-align: center;
    margin-top:0.5rem;
  
}
